body {
  font-family: sans-serif;
  font-size: $size-text;
  line-height: 1.4;
  color: $c-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $c-text;
  position: relative;
}

.element__graphique__fond{
  position: fixed;
  z-index: -1;
  width: 989px;
  height: 989px;
  flex-shrink: 0;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  background: linear-gradient(151deg, #4ED8CF 46.44%, #88DAEF 64.82%, #FEE1B9 72.52%);
  filter: blur(85px);
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
  
}

main{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}


.section{
  position: relative;
  height: auto;
  width: clamp(19.75rem, -1.75rem + 95.5556vw, 84.25rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.section__header{
  display: flex;
  border-left: 1px solid #000;
  border-right: 1px solid #000;

  @media ( min-width: 1080px){
    flex-direction: initial;
  }

  .section__header_prt1{
    border: 1px solid #000;
    display: flex;
    align-items: center;
    flex-direction:column ;
    width: clamp(19.75rem, 4.8125rem + 66.3889vw, 64.5625rem);

    div{
      border: 1px solid #000;
      width: clamp(19.75rem, 4.8125rem + 66.3889vw, 64.5625rem);

      h1,h2{
        font-size: clamp(3.625rem, 0.875rem + 12.2222vw, 11.875rem);
        line-height: 0;
        color: $c-text;
      }

    }

    .section__header_p{
      height: clamp(14.0625rem, 13.8542rem + 0.9259vw, 14.6875rem);
      display: flex;
      align-items: center;
      p{
        font-size: clamp(1.4375rem, 0.9583rem + 2.1296vw, 2.875rem);
        text-transform: uppercase;
      }
    }

    .element__graph{
      height: clamp(2.08375rem, 0.6325rem + 6.45vw, 6.4375rem);
    }
  }

  .section__header_prt2{
    border: 1px solid #000;
    display: flex;
    align-items: center;
    flex-direction:column ;
    width: clamp(19.75rem, 4.8125rem + 66.3889vw, 64.5625rem);

    @media ( min-width: 1080px){
      flex-direction: row;
      

    }

    div{
      border: 1px solid #000;
      display: flex;
      align-items: center;
      width: 100%;

      @media ( min-width: 1080px){
        height: clamp(47.1875rem, 17.375rem + 44.1667vw, 57.125rem);
      }

      .div__h3{
        display: flex;
        align-items: center;
        justify-content: first baseline;
        h3{
          text-transform: uppercase;
        }

      }
    }
  }

}


.section__presentation{
  display: flex;
  flex-direction: column;
  border: 1px solid #000;

  @media ( min-width: 780px){
    flex-direction: initial;
  }

  div{
    border: 1px solid #000;
    height: clamp(19.8125rem, 10.7292rem + 40.3704vw, 47.0625rem);

    .img__presentation{
      opacity: 0.4;
    }
  }

  .presentation__text{
    background-color: blue;
    width: clamp(19.75rem, 9.625rem + 45vw, 50.125rem);
  }
}


.section__projets{

    height:clamp(34.0625rem, 30.0417rem + 17.8704vw, 46.125rem);
    width: clamp(19.75rem, -1.7292rem + 95.463vw, 84.1875rem);;

  div{
    border-bottom: 1px solid #000;

    h3{
      font-size: clamp(2.5625rem, -0.5417rem + 13.7963vw, 11.875rem);
      line-height: 0;
    }
  }
}