$c-fond: #F7F7F7;
$c-bleu: #95C3EA;
$c-text: #313131;

$size-text: 18px;

.eight{
    font-family: "eight", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.txt_big{
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: normal
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
